/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font-family: 'Lato', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);

  /* Helps fonts on OSX look more consistent with other systems */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Use momentum-based scrolling on iOS devices */
  -webkit-overflow-scrolling: touch;
}

/* how to change bulletpoint color https://www.w3schools.com/howto/howto_css_bullet_color.asp */
ul {
  list-style: none; /* Remove default bullets */
}
ul li::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #0277bd; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

a {
  color: #0277bd;
  text-decoration: none;
}
